/* You can add global styles to this file, and also import other style files */
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #d7d9db;
    color: #3d414a;
    font-family: effra,Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.5;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

ol, ul {
    padding: 0; 
}

ul {
    display: block;
    list-style-type: none;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

ul li {
    margin-left: -2em;
    line-height: 2em;
}

ol li {
    margin-left: 1em;
}

h3 {
    font-size: 150%;
}